@args sirius.biz.storage.BucketInfo bucket, Page objects
@extends(view.wondergem.template.html, title: bucket.getName())

@section(breadcrumbs) {
    <li>
        <a href="/storage">@i18n("StorageController.buckets")</a>
    </li>
    <li>
        <a href="/storage/bucket/@bucket.getName()">@bucket.getName()</a>
    </li>
}

@pageHeader() {
    @i18n("StorageController.objects"): @bucket.getName()
}

<div class="row">
    <div class="col-md-3">
        @if (bucket.isCanCreate()) {
            @fileUpload(uploadUrl: ("/storage/upload/" + bucket.getName()))
        }
    </div>
    <div class="col-md-9">
        @tableSearchHeader(objects, ("storage/bucket/" + bucket.getName()))

        @table(objects) {
            <thead>
                <tr>
                    <th>
                        @i18n("Model.name")<br>
                        <small class="muted">@i18n("Model.id")</small>
                    </th>
                    <th class="align-right">
                        @i18n("TraceData.changed")<br>
                        <small class="muted">@i18n("VirtualObject.fileSize")</small>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(sirius.biz.storage.VirtualObject object : objects.getItems()) {
                <tr>
                    <td>
                        <a class="link" href="@object.prepareURL().asDownload(object.getFilename()).buildURL()">@object.getPath()</a><br>
                        <small class="muted">@object.getObjectKey()</small>
                    </td>
                    <td class="align-right">
                        @NLS.toUserString(object.getTrace().getChangedAt())<br>
                        <small class="muted">@NLS.formatSize(object.getFileSize())</small>
                    </td>
                    <td class="col-md-2 align-left">
                        <a class="link" href="/storage/object/@object.getObjectKey()"><i class="fa fa-pencil"></i> @i18n("NLS.detail")</a>
                        @if (bucket.isCanDelete()) {
                            <br>
                            @deleteLink(("storage/delete/" + object.getObjectKey() + "?" + objects.createQueryString()))
                        }
                    </td>
                </tr>
            }
            </tbody>
        }


        @pagination(objects, ("storage/bucket/" + bucket.getName()))
    </div>
</div>