services:
  redis:
    image: redis:7.4.3-alpine
    ports:
      - "6379"
    hostname: redis

  redis-jupiter:
    image: scireum/jupiter-io:3.1.4
    ports:
      - "2410"
    hostname: redis-jupiter

  mongo:
    image: mongo:8.0.8
    ports:
      - "27017"
    hostname: mongo

  mariadb:
    image: mariadb:11.8.3-noble
    ports:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    hostname: mariadb

  clickhouse:
    image: clickhouse/clickhouse-server:25.8.2.29-alpine
    ports:
      - "8123"
      - "9000"
    hostname: clickhouse
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: secret

  elasticsearch:
    image: elasticsearch:8.19.3
    ports:
      - "9200"
    environment:
      - ES_JAVA_OPTS=-Xms128M -Xmx128M
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
    hostname: es
  s3-system:
    image: scireum/s3-ninja:8.4.0
    ports:
      - "9000"
    hostname: s3ninja
