version: "2"

services:
  redis:
    image: redis:6.2.6-alpine
    ports:
      - "6379"
    hostname: redis

  redis-jupiter:
    image: scireum/jupiter-io:2.2.0
    ports:
      - "2410"
    hostname: redis-jupiter

  mongo:
    image: mongo:4.4.8
    ports:
      - "27017"
    hostname: mongo

  mariadb:
    image: mariadb:10.6.5-focal
    ports:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    hostname: mariadb
  clickhouse:
    image: clickhouse/clickhouse-server:22.5-alpine
    ports:
      - "8123"
      - "9000"
    hostname: clickhouse
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.5
    ports:
      - "9200"
    environment:
      - ES_JAVA_OPTS=-Xms128M -Xmx128M
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
    hostname: es
  s3-system:
    image: scireum/s3-ninja:8.0.0
    ports:
      - 9000
    hostname: s3ninja
