@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.web.controller.Page errors
@extends(view.wondergem.template.html, title: NLS.get("Incident.plural"))
@section(breadcrumbs) {
    <li>
        <a href="@prefix/system/errors">@i18n("Incident.plural")</a>
    </li>
}

@pageHeader("Incident.plural")

<div class="row">
    <div class="col-md-3">
        @filterbox(errors, "system/errors")
    </div>
    <div class="col-md-9">
        @tableSearchHeader(errors, "system/errors")

        @table(errors) {
            <thead>
            <tr>
                <th>
                    <div class="row">
                        <div class="col-md-4">@i18n("Incident.lastOccurrence")</div>
                        <div class="col-md-4">@i18n("Incident.numberOfOccurrences")</div>
                        <div class="col-md-4">@i18n("Incident.user")</div>
                    </div>
                    <div class="row">
                        <div class="muted col-md-4">@i18n("Incident.firstOccurrence")</div>
                        <div class="muted col-md-4">@i18n("Incident.category")</div>
                        <div class="muted col-md-4">@i18n("Incident.node")</div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            @for(sirius.biz.protocol.Incident i : errors.getItems()) {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-4"><a href="@prefix/system/error/@i.getId()">@NLS.toUserString(i.getLastOccurrence())</a></div>
                        <div class="col-md-4">@i.getNumberOfOccurrences()</div>
                        <div class="col-md-4">@i.getUser()</div>
                    </div>
                    <div class="row">
                        <div class="muted col-md-4">@NLS.toUserString(i.getFirstOccurrence())</div>
                        <div class="muted col-md-4">@i.getCategory()</div>
                        <div class="muted col-md-4">@i.getNode()</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 error-code">
                            <p />
                            <pre class="plain">@i.getMessage()</pre>
                        </div>
                    </div>
                </td>
            </tr>
            }
            </tbody>
        }

        @pagination(errors, "system/errors")
    </div>
</div>