@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.web.controller.Page mails
@extends(view.wondergem.template.html, title: NLS.get("MailLogEntry.plural"))
@section(breadcrumbs) {
    <li>
        <a href="/mails">@i18n("MailLogEntry.plural")</a>
    </li>
}

@pageHeader("MailLogEntry.plural")

<div class="row">
    <div class="col-md-3">
        @filterbox(mails, "system/mails")
    </div>
    <div class="col-md-9">
        @tableSearchHeader(mails, "system/mails")

        @table(mails) {
            <thead>
                <tr>
                    <th>
                        <div class="row">
                            <div class="col-md-3">@i18n("MailLogEntry.tod")</div>
                            <div class="col-md-3">@i18n("MailLogEntry.sender")</div>
                            <div class="col-md-3">@i18n("MailLogEntry.receiver")</div>
                            <div class="col-md-3">
                                @i18n("MailLogEntry.node")<br>
                                @i18n("MailLogEntry.mailExtension")
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(sirius.biz.protocol.MailLogEntry mail : mails.getItems()) {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="badge label-state @if (mail.isSuccess()) { label-success } else { label-important }">
                                        <i class="@if (mail.isSuccess()) { fa fa-check } else { fa fa-exclamation }"></i>
                                    </span>
                                    <strong>
                                        <small><a href="/system/mail/@mail.getId()">@NLS.toUserString(mail.getTod())</a></small>
                                    </strong>
                                </div>
                                <div class="col-md-3">@mail.getSender()</div>
                                <div class="col-md-3">@mail.getReceiver()</div>
                                <div class="col-md-3">
                                    @mail.getNode()<br>
                                    <small>@mail.getMailExtension()</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 error-code">
                                    <pre class="plain">
                                        @mail.getSubject()
                                    </pre>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }

        @pagination(mails, "system/mails")
    </div>
</div>