@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.biz.protocol.MailLogEntry mail
@extends(view.wondergem.template.html, title: mail.getSubject())
@section(breadcrumbs) {
    <li>
        <a href="/system/mails">@i18n("MailLogEntry.plural")</a>
    </li>
    <li>
        <a href="/system/mail/@mail.getId()">@mail.getSubject()</a>
    </li>
}
@pageHeader() {
    @mail.getSubject()
}

<div class="row">
    @textfield(labelKey: "MailLogEntry.success",
               value: NLS.toUserString(mail.isSuccess()),
               readonly: true)
    @textfield(labelKey: "MailLogEntry.tod",
               value: NLS.toUserString(mail.getTod()),
               readonly: true)
</div>
<div class="row">
    @textfield(labelKey: "MailLogEntry.messageId",
               value: mail.getMessageId(),
               readonly: true)
    @textfield(labelKey: "MailLogEntry.mailExtension",
               value: mail.getMailExtension(),
               readonly: true)
</div>
<div class="row">
    @textfield(labelKey: "MailLogEntry.sender",
               value: mail.getSender(),
               readonly: true)
    @textfield(labelKey: "MailLogEntry.senderName",
               value: mail.getSenderName(),
               readonly: true)
</div>
<div class="row">
    @textfield(labelKey: "MailLogEntry.receiver",
               value: mail.getReceiver(),
               readonly: true)
    @textfield(labelKey: "MailLogEntry.receiverName",
               value: mail.getReceiverName(),
               readonly: true)
</div>
<div class="row">
    <div class="col-md-12">
        @heading("MailLogEntry.text")
        <div class="well">
            <pre class="plain">@mail.getText()</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @heading("MailLogEntry.html")
        <div class="well">
            <pre class="plain">@mail.getHtml()</pre>
        </div>
    </div>
</div>

<div class="form-actions">
    <a href="/system/mails" class="btn"><i class="icon-chevron-left"></i> @i18n("NLS.back")</a>
</div>