@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.biz.tenants.UserAccount account, String setUrl, String backUrl

<script type="text/javascript">

    var passwordMinLength = @account.getMinPasswordLength();
    var passwordSaneLength = @account.getSanePasswordLength();

    $(document).ready(function(){
        $('#password').keyup(function(){

            // Check if password and confirmation match
            verifyConfirmation();

            // Reset all
            $('.securityLevel').removeClass("alert").removeClass("alert-error").removeClass("alert-success");

            // Perform password audit
            var value = $(this).val();
            if (value.length < passwordMinLength) {
                $('#hilarious').addClass('alert-error');
                $('#submitBtn').attr('disabled', 'diabled');
            } else if (value.length < passwordSaneLength || /^[a-z]+$/.test(value)
                       || /^[A-Z]+$/.test(value) || /^[0-9]+$/.test(value))
            {
                $('#unsafe').addClass('alert');
            } else if (/^[a-zA-Z0-9]+$/.test(value)) {
                $('#moderate').addClass('alert');
            } else {
                $('#stateOfTheArt').addClass('alert-success');
            }
        });

        $('#confirmation').keyup(function(){
            verifyConfirmation();
        });
    });

    function verifyConfirmation() {
        var pw = $('#password').val();
        var conf = $('#confirmation').val();
        if (pw == conf && pw.length >= passwordMinLength) {
            $('#submitBtn').removeAttr('disabled');
            $('#confirmationField').removeClass('error');
        } else if($('#password').val().length) {
            $('#submitBtn').attr('disabled', 'diabled');
            $('#confirmationField').addClass('error');
        }
    }

</script>

<span class="legend">@i18n("Model.password.set")</span>
<div class="row">
    <div class="span6">
        <form action="@(prefix+setUrl)" method="post">
            <fieldset>
                <div class="row">
                    <div class="span4 control-group @user.signalFieldError("password")">
                        <label>
                            <span class="input-required">@i18n("Model.password")</span>
                        </label>
                        <div class="input-block-level">
                            <input id="password" name="password" type="password" class="input-block-level" autofocus="on" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="confirmationField" class="span4 control-group @user.signalFieldError("confirmation")">
                        <label>
                            <span class="input-required">@i18n("Model.confirmation")</span>
                        </label>
                        <div class="input-block-level">
                            <input id="confirmation" name="confirmation" type="password" class="input-block-level" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-actions">
                <input type="submit" id="submitBtn" disabled="true" class="btn btn-primary" value="@i18n("Model.password.set")">
                <a href="@(prefix+backUrl)" class="btn">@i18n("NLS.back")</a>
            </div>
        </form>
    </div>
    <div class="span6">
        <table class="table table-bordered span4 password-security-info">
            <tr class="securityLevel muted alert-error" id="hilarious">
                <td>
                    <h4>@i18n("Model.password.hilarious")</h4>
                    <p>
                        @NLS.fmtr("Model.password.hilarious.description").set("minLength", account.getMinPasswordLength())
                    </p>
                </td>
            </tr>
            <tr class="securityLevel muted" id="unsafe">
                <td>
                    <h4>@i18n("Model.password.unsafe")</h4>
                    <p>
                        @NLS.fmtr("Model.password.unsafe.description").set("saneLength", account.getSanePasswordLength())
                    </p>
                </td>
            </tr>
            <tr class="securityLevel muted" id="moderate">
                <td>
                    <h4>@i18n("Model.password.moderate")</h4>
                    <p>@i18n("Model.password.moderate.description")</p>
                </td>
            </tr>
            <tr class="securityLevel muted" id="stateOfTheArt">
                <td>
                    <h4>@i18n("Model.password.stateOfTheArt") <small>(@i18n("Model.password.recommended"))</small></h4>
                    <p>@i18n("Model.password.stateOfTheArt.description")</p>
                </td>
            </tr>
        </table>
    </div>
</div>


