@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.biz.tenants.UserAccount account
@extends(view.wondergem.template.html, title: NLS.get("UserAccount.password.set"))
@section(breadcrumbs) {
    <li>
        <a href="/profile">@i18n("UserAccount.profile")</a>
    </li>
    <li>
        <a href="@prefix/profile/password">@i18n("UserAccount.password.set")</a>
    </li>
}

@view.tenants.password(account, "/profile/password", "/profile")

