@args Page users, boolean isSpy
@extends(view.wondergem.template.html, title: NLS.get("UserAccount.select"))

@section(breadcrumbs) {
    <li>
        <a href="/user-accounts/select">@i18n("UserAccount.select")</a>
    </li>
}
@pageHeader("UserAccount.select")

@tableSearchHeader(users, "user-accounts/select") {
    @if (isSpy) {
        <a class="btn btn-primary" href="/user-accounts/select/main">@i18n("UserAccount.selectMain")</a>
    }
}

@table(users) {
    <thead>
        <tr>
            <th>
                @i18n("Model.name")<br>
                <small class="muted">@i18n("LoginData.username")</small>
            </th>
            <th>
                @i18n("Model.tenant")<br>
                @i18n("Tenant.accountNumber")
            </th>
        </tr>
    </thead>
    <tbody>
    @for(sirius.biz.tenants.UserAccount user : users.getItems()) {
        <tr>
            <td>
                @if (Strings.isFilled(user.getPerson().toString())) {
                    <a class="link" href="/user-accounts/select/@user.getId()">@user.getPerson()</a><br>
                    <small class="muted">@user.getLogin().getUsername()</small>
                } else {
                    <a class="link" href="/user-accounts/select/@user.getId()">@user.getLogin().getUsername()</a>
                }
            </td>
            <td>
                @user.getTenant().getValue().getName()<br>
                @user.getTenant().getValue().getAccountNumber()
            </td>
        </tr>
    }
    </tbody>
}

@pagination(users, "user-accounts/select")
