@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.biz.tenants.Tenant tenant, String page
@extends(view.wondergem.template.html, title: (tenant.toString()))

@section(head) {
    <script src="/assets/wondergem/ace/ace.js" type="text/javascript"></script>
}

@section(breadcrumbs) {
    <li>
        <a href="@prefix/tenants">@i18n("Tenant.plural")</a>
    </li>
    <li>
        <a href="@prefix/tenant/@tenant.getId()">@tenant</a>
    </li>
}

@pageHeader(){
    @i18n("Model.tenant") : @tenant.getName()
    <small>@tenant.getAccountNumber()</small>
}

<div class="row">
    @if (!tenant.isNew()) {
        <div class="col-md-3">
            @infobox(NLS.get("Model.details")){
                <div class="row info-line">
                    <div class="col-md-4 name">
                        @i18n("AddressData.street")
                    </div>
                    <div class="col-md-8 value">
                        <div>@tenant.getAddress().getStreet()</div>
                    </div>
                </div>
                <div class="row info-line">
                    <div class="col-md-4 name">
                        @i18n("AddressData.zip")
                    </div>
                    <div class="col-md-8 value">
                        <div>@tenant.getAddress().getZip()</div>
                    </div>
                </div>
                <div class="row info-line">
                    <div class="col-md-4 name">
                        @i18n("AddressData.city")
                    </div>
                    <div class="col-md-8 value">
                        <div>@tenant.getAddress().getCity()</div>
                    </div>
                </div>

            @includeExtensions("view-tenant-sidebar-infos", tenant, page)

            }

            @navbox() {
                <li class="nav-header">@i18n("Model.links")</li>
                <li @if(page == "details") { class="active" }>
                    <a href="@prefix/tenant/@tenant.getId()" class="link">
                        @i18n("Model.details")
                    </a>
                </li>
                <li @if(page == "config") { class="active" }>
                    <a href="@prefix/tenant/@tenant.getId()/config" class="link">
                        @i18n("Model.config")
                    </a>
            </li>
                @includeExtensions("view-tenant-sidebar-menu", tenant, page)
            }
            <a href="@prefix/tenants" class="btn btn-block">@i18n("NLS.back")</a>
        </div>
    }
    <div class="@if (tenant.isNew()) { col-md-12 } else { col-md-9 }">
        @render
    </div>
</div>
