@import sirius.biz.tenants.Tenant
@args Page tenants
@extends(view.wondergem.template.html, title: NLS.get("Model.tenant.plural"))

@section(breadcrumbs) {
    <li>
        <a href="/tenants">@i18n("Model.tenant.plural")</a>
    </li>
}
@pageHeader("Model.tenant.plural")

@tableSearchHeader(tenants, "tenants") {
    <a class="btn btn-primary" href="@prefix/tenant/new">@i18n("Model.create")</a>
}

@table(tenants) {
    <thead>
    <tr>
        <th>
            @i18n("Model.name")<br>
            <small class="muted">@i18n("Model.id")</small>
        </th>
        <th>
            @i18n("Tenant.accountNumber")
        </th>
        <th>
            @i18n("AddressData.street")<br>
            @i18n("AddressData.zip") @i18n("AddressData.city")
        </th>
        <th />
    </tr>
    </thead>
    <tbody>
    @for(sirius.biz.tenants.Tenant tenant : tenants.getItems()) {
        <tr>
            <td>
                <a class="link" href="@prefix/tenant/@tenant.getId()">@tenant.getName()</a><br>
                <small class="muted">@tenant.getId()</small>
            </td>
            <td>
                @tenant.getAccountNumber()
            </td>
            <td>
                @tenant.getAddress().getStreet()<br>
                @tenant.getAddress().getZip() @tenant.getAddress().getCity()
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("tenant/" + tenant.getId() + "/delete?" + tenants.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(tenants, "tenants")
