@args Page relations
@extends(view.wondergem.template.html, title: NLS.get("TenantRelation.plural"))

@section(breadcrumbs) {
    <li>
        <a href="/tenants">@i18n("TenantRelation.plural")</a>
    </li>
}
@pageHeader("TenantRelation.plural")

@tableSearchHeader(relations, "tenants/relations") {
    <a class="btn btn-primary" href="@prefix/tenant/new">@i18n("Model.create")</a>
}

@table(relations) {
    <thead>
    <tr>
        <th>
            @i18n("TenantRelation.fromTenant")
        </th>
        <th>
            @i18n("TenantRelation.toTenant")
        </th>
        <th />
    </tr>
    </thead>
    <tbody>
    @for(sirius.biz.tenants.TenantRelation relation : relations.getItems()) {
        <tr>
            <td>
                <a class="link" href="@prefix/tenant/@relation.getId()">@relation.getFromTenant().getName()</a><br>
            </td>
            <td>
                @relation.getToTenant().getName()
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("tenants/relation/" + relation.getId() + "/delete?" + relations.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(relations, "tenants/relations")
