@if (user.getCurrentUser().hasPermission("permission-manage-tenants")) {
    <li><a href="@prefix/tenants">@i18n("Tenant.plural")</a></li>
}
@if (user.getCurrentUser().hasPermission("permission-manage-user-accounts")) {
    <li><a href="@prefix/user-accounts">@i18n("UserAccount.plural")</a></li>
}
@if (user.getCurrentUser().hasPermission("permission-select-tenant") || user.getCurrentUser().hasPermission("permission-select-user-account")) {
    <li class="divider"></li>
}
@if (user.getCurrentUser().hasPermission("permission-select-tenant")) {
    <li><a href="@prefix/tenants/select">@i18n("Tenant.select")</a></li>
}
@if (user.getCurrentUser().hasPermission("permission-select-user-account")) {
    <li><a href="@prefix/user-accounts/select">@i18n("UserAccount.select")</a></li>
}
