@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.biz.tenants.UserAccount account
@extends(view.wondergem.template.html, title: NLS.get("Model.password.set"))
@section(breadcrumbs) {
    <li>
        <a href="/user-accounts">@i18n("Model.userAccount.plural")</a>
        <span class="divider">&@breadcrumbDivider;</span>
    </li>
    <li>
        <a href="@prefix/user-account/@account.getId()">@i18n("Model.userAccount")</a>
        <span class="divider">&@breadcrumbDivider;</span>
    </li>
    <li>
        <a href="@prefix/user-account/@account.getId()/password">@i18n("Model.password.set")</a>
    </li>
}

@view.tenants.password.html(account, ("/user-account/"+account.getId()+"/password"), ("/user-account/"+account.getId()))

