@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import sirius.biz.tenants.UserAccount
@args Page accounts
@extends(view.wondergem.template.html, title: NLS.get("Model.userAccount.plural"))

@section(breadcrumbs) {
    @view.parts.breadcrumb("/user-accounts", NLS.get("Model.userAccount.plural"))
}

<span class="legend">@i18n("Model.userAccount.plural")</span>

@view.parts.tableSearchHeader("/user-accounts", accounts) {
    <a class="btn btn-primary" href="@prefix/user-account/new">@i18n("Model.create")</a>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @i18n("LoginData.username")<br />
                <span class="table-details">@i18n("Model.id")</span>
            </th>
            <th>
                @i18n("Model.name")
            </th>
            <th>
                @i18n("Model.email")
            </th>
            <th>
                @i18n("LoginData.password")
            </th>
            <th class="right">
                @i18n("LoginData.lastLogin")
                <span class="table-details">@i18n("LoginData.numberOfLogins")</span>
            </th>
            <th class="span2"/>
        </tr>
    </thead>
    <tbody>
    @for(UserAccount account : accounts.getItems()) {
        <tr @if (account.getLogin().isAccountLocked()) { class="warning" }>
            <td class="title">
                <a class="link" href="@prefix/user-account/@account.getId()">@account.getLogin().getUsername()</a>
                <span class="table-details">@account.getId()</span>
            </td>
            <td>
                @account.getPerson()
            </td>
            <td>
                @account.getEmail()
            </td>
            <td>
                @if (Strings.isFilled(account.getLogin().getGeneratedPassword())) {
                        @account.getLogin().getGeneratedPassword()
                }
               <i class="icon-double-angle-right"></i>&nbsp;<a href="@prefix/user-account/@account.getId()/password" class="link">@i18n("LoginData.password.set")</a> <br />
               <i class="icon-double-angle-right"></i>&nbsp;<a href="@prefix/user-account/@account.getId()/generate-password?@accounts.createQueryString()" class="link">@i18n("LoginData.password.generate")</a>
            </td>
            <td class="right">
                @NLS.toUserString(account.getLogin().getLastLogin())
                <br><span class="muted">@account.getLogin().getNumberOfLogins()</span>
            </td>
            <td class="span2 align-center">
                <i class="icon-remove"></i>&nbsp;<a class="link link-danger" href="@prefix/user-account/@account.getId()/delete?@accounts.createQueryString()">@i18n("NLS.delete")</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@invoke("view/parts/pagination.html", accounts, "user-accounts")

