@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import sirius.biz.tenants.UserAccount
@args Page accounts
@extends(view.wondergem.template.html, title: NLS.get("Model.userAccount.plural"))

@section(breadcrumbs) {
    <li>
        <a href="/user-accounts">@i18n("Model.userAccount.plural")</a>
    </li>
}

@pageHeader("Model.userAccount.plural")

@tableSearchHeader(accounts, "user-accounts") {
    <a class="btn btn-primary" href="@prefix/user-account/new">@i18n("Model.create")</a>
}

@table(accounts) {
    <thead>
        <tr>
            <th>
                @i18n("LoginData.username")<br>
                <span class="muted">@i18n("Model.id")</span>
            </th>
            <th>
                @i18n("Model.name")
            </th>
            <th>
                @i18n("Model.email")
            </th>
            <th>
                @i18n("LoginData.password")
            </th>
            <th class="align-right">
                @i18n("LoginData.lastLogin")<br>
                <span class="muted">@i18n("LoginData.numberOfLogins")</span>
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(UserAccount account : accounts.getItems()) {
        <tr @if (account.getLogin().isAccountLocked()) { class="warning" }>
            <td>
                <a class="link" href="@prefix/user-account/@account.getId()">@account.getLogin().getUsername()</a><br>
                <span class="muted">@account.getId()</span>
            </td>
            <td>
                @account.getPerson()
            </td>
            <td>
                @account.getEmail()
            </td>
            <td>
                @if (Strings.isFilled(account.getLogin().getGeneratedPassword())) {
                        @account.getLogin().getGeneratedPassword()
                }
                <a href="@prefix/user-account/@account.getId()/password" class="link">
                    <i class="fa fa-angle-double-right"></i> @i18n("LoginData.password.set")
                </a><br>
               <a href="@prefix/user-account/@account.getId()/generate-password?@accounts.createQueryString()" class="link">
                   <i class="fa fa-angle-double-right"></i> @i18n("LoginData.password.generate")
               </a>
            </td>
            <td class="align-right">
                @NLS.toUserString(account.getLogin().getLastLogin())<br>
                <span class="muted">@account.getLogin().getNumberOfLogins()</span>
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("user-account/" + account.getId() + "/delete?" + accounts.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(accounts, "user-accounts")