@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import sirius.biz.tenants.UserAccount
@args UserAccount account, sirius.biz.tenants.UserAccountController controller
@extends(view.tenants.user-account.html, account, "details")


@editForm(("user-account/" + account.getIdAsString())) {
    <div class="row">
        @textfield(name:     "email",
                   value:    account.getEmail(),
                   labelKey: "Model.email",
                   required: true,
                   helpKey:  "UserAccount.email.help")
        @textfield(name:     "login_username",
                   value:    account.getLogin().getUsername(),
                   labelKey: "LoginData.username",
                   helpKey:  "UserAccount.username.help")
    </div>
    <div class="row">
        @codelistSelect(list:     "salutations",
                        name:     "person_salutation",
                        value:    account.getPerson().getSalutation(),
                        labelKey: "PersonData.salutation")
        @textfield(name:     "person_title",
                   value:    account.getPerson().getTitle(),
                   labelKey: "PersonData.title")
    </div>
    <div class="row">
        @textfield(name:     "person_firstname",
                   value:    account.getPerson().getFirstname(),
                   labelKey: "PersonData.firstname")
        @textfield(name:     "person_lastname",
                   value:    account.getPerson().getLastname(),
                   labelKey: "PersonData.lastname")
    </div>
    <div class="row">
        <div class="col-md-6">
            @heading("UserAccount.security")
            <div class="row">
                @checkbox(name:     "login_accountLocked",
                          value:    account.getLogin().isAccountLocked(),
                          labelKey: "LoginData.accountLocked")
            </div>
            <div class="row">
                @if (Strings.isFilled(account.getLogin().getGeneratedPassword())) {
                    @textfield(name:     "generatedPassword",
                               value:    account.getLogin().getGeneratedPassword(),
                               labelKey: "LoginData.generatedPassword",
                               readonly: true)
                }
            </div>
        </div>
        <div class="col-md-6">
            @heading("UserAccount.roles")
            @for(String role : controller.getRoles()) {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="roles" value="@role" @if (account.getPermissions().getPermissions().contains(role)) { checked="checked" } />
                    @controller.getRoleName(role)
                    <span class="help-block checkbox-help"> @controller.getRoleDescription(role)</span>
                </label>
            </div>
            }
        </div>
    </div>

    @includeExtensions("view-user-account-details", account)
}

@formBar() {
    @tracing(account.getTrace())
}


