@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.biz.codelists.CodeList codeList, String page
@extends(view.wondergem.template.html, title: NLS.get("CodeList"))
@section(breadcrumbs) {
    <li>
        <a href="/code-lists">@i18n("CodeList.plural")</a>
    </li>
    <li>
        <a href="@prefix/code-list/new">@i18n("CodeList")</a>
    </li>
}

@pageHeader("CodeList")

<div class="row">
    @if (!codeList.isNew()) {
        <div class="col-md-3">
            @navbox() {
                <li class="nav-header">@i18n("Model.details")</li>
                <li>
                    @codeList.getName() (@codeList.getCode())
                </li>
                <li class="small muted">@codeList.getDescription()</li>
                <li class="nav-header"></li>
                <li @if(page == "details") { class="active" }><a href="@prefix/code-list/@codeList.getId()/details" class="link"><i class="icon-users"></i>&nbsp;@i18n("Model.details")</a></li>
                <li @if(page == "entries") { class="active" }><a href="@prefix/code-list/@codeList.getId()" class="link"><i class="icon-users"></i>&nbsp;@i18n("CodeListEntry.plural")</a></li>
            }
            <a href="@prefix/code-lists" class="btn btn-block">@i18n("NLS.back")</a>
        </div>
    }
    <div class="col-md-9">
        @render
    </div>
</div>
