@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args sirius.biz.codelists.CodeList codeList, Page entries
@extends(view.codelists.code-list.html, page: "details")

@editForm(("code-list/" + codeList.getIdAsString() + "/details")) {
    <div class="row">
        @textfield(name:     "code",
                   value:    codeList.getCode(),
                   labelKey: "CodeList.code",
                   required: true)
        @textfield(name:     "name",
                   value:    codeList.getName(),
                   labelKey: "Model.name",
                   required: true)
    </div>
    <div class="row">
        @textfield(span:     "12",
                   name:     "description",
                   value:    codeList.getDescription(),
                   labelKey: "Model.description")
    </div>
}

@formBar() {
    <a href="@prefix/code-lists" class="btn">@i18n("NLS.back")</a>
    @tracing(codeList.getTrace())
}
