@import sirius.biz.codelists.*
@args CodeList codeList, Page entries
@extends(view.codelists.code-list.html, page: "entries")

@tableSearchHeader(entries, ("code-list/" + codeList.getId())) {
    <a class="btn btn-primary" href="#" onclick="createEntry()">@i18n("Model.create")</a>
}


@table(entries) {
    <thead>
        <tr>
            <th>
                @i18n("CodeListEntry.code")<br>
                <small class="muted">@i18n("Model.priority")</small>
            </th>
            <th>
                @i18n("CodeListEntry.value")<br>
                <small class="muted">@i18n("CodeListEntry.additionalValue")</small>
            </th>
            <th>
                @i18n("Model.description")
            </th>
            <th class="col-md-2" />
        </tr>
    </thead>
    <tbody>
        @for(CodeListEntry entry : entries.getItems()) {
            <tr>
                <td>
                    <a href="#" onclick="editEntry('@entry.getCode().escapeString()', '@entry.getValue().escapeString()', '@entry.getAdditionalValue().escapeString()', '@entry.getDescription().escapeString()', @entry.getPriority())">@entry.getCode()</a><br />
                    <small class="muted">@entry.getPriority()</small>
                </td>
                <td>
                    @entry.getValue()<br />
                    <small class="muted">@entry.getAdditionalValue()</small>
                </td>
                <td>
                    @entry.getDescription()
                </td>
                <td class="col-md-2 align-center">
                    @deleteLink(("code-list/" +codeList.getId() + "/delete-entry/" + entry.getId() + "?" + entries.createQueryString()))
                </td>
            </tr>
        }
    </tbody>
}

@pagination(entries, ("code-list" + codeList.getId()))

<script type="text/javascript">

    function field(name) {
        return $('*[name='+name+']');
    }

    function createEntry() {
        field('code').val('');
        field('value').val('');
        field('additionalValue').val('');
        field('description').val('');
        field('priority').val('');
        $('#dlgMessageBox').hide();

        $('#editEntry').modal('show');
        $('#code').focus();
    }

    function editEntry(code, value, additionalValue, description, priority) {
        field('code').val(code);
        field('value').val(value);
        field('additionalValue').val(additionalValue);
        field('description').val(description);
        field('priority').val(priority);
        $('#dlgMessageBox').hide();

        $('#editEntry').modal('show');
        $('#code').focus();
    }

    function updateEntry() {
        if (field('code').val() == '') {
            $('#dlgMessageBox .alert').text('@i18n("CodeListController.codeMustBeFilled")');
            $('#dlgMessageBox').show();
        } else {
            $('#entryForm').submit();
        }
    }

</script>

@modal(name: "editEntry", titleKey: "CodeListEntry") {
    @modalBody() {
        <div id="dlgMessageBox" style="display: none">
            <div class="alert alert-danger"></div>
        </div>

        <form id="entryForm" action="@prefix/code-list/@codeList.getId()/entry" method="post">
            <fieldset>
                @textfield(span:     "6",
                           name:     "code",
                           labelKey: "CodeListEntry.code",
                           required: true)
                @textfield(span:     "6",
                           name:     "priority",
                           labelKey: "Model.priority")
                @textfield(span:     "12",
                           name:     "value",
                           labelKey: "CodeListEntry.value")
                @textfield(span:     "12",
                           name:     "additionalValue",
                           labelKey: "CodeListEntry.additionalValue")
                @textarea(span:     "12",
                          rows:     "5",
                          name:     "description",
                          labelKey: "Model.description")
            </fieldset>
        </form>
    }

    @modalFooter(cancelKey: "NLS.cancel") {
        <a onclick="updateEntry()" class="btn btn-primary"><i class="icon-ok"></i> @i18n("NLS.save")</a>
    }
}