@*
 *  Made with all the love in the world
 *  by scireum in Remshalden, Germany
 *
 *  Copyright by scireum GmbH
 *  http://www.scireum.de - info@scireum.de
*@
@args String originalURL
@extends(view.wondergem.template.html, title: "Login")

@section(messages) {

}

@render(head) {
<style>
    .breadcrumb-navi {
        display: none;
    }
</style>
}

@section (header) {
    <div id="messageBox">
        @for(sirius.web.controller.Message msg : user.getMessages()) {
            <div class="alert @msg.getType()" style="margin: 0px">
                @msg.getMessage()
                @if (msg.getAction() != null) {
                    @if (msg.isActionJavascript()) {
                        <a href="#" onclick="@msg.getAction()" class="link link-info">@msg.getActionLabel()</a>
                    } else {
                        <a href="@prefix/@msg.getAction()" class="link link-info">@msg.getActionLabel()</a>
                    }
                }
            </div>
        }
    </div>

    <div class="jumbotron">
        <div class="container header">
            <div class="row login">
                <div class="span4 offset2">
                    <form class="form-signin" method="post" action="@originalURL">
                        <img src="@prefix/assets/images/oxomi_logo.jpg" />
                        <h2 class="form-signin-heading">Anmeldung</h2>
                        <input class="input-block-level" name="user" type="text" placeholder="eMail / Loginname" autofocus="on" autocomplete="off" />
                        <input class="input-block-level" name="password" type="password" placeholder="Passwort" autocomplete="off" />
                        <button class="btn btn-large btn-primary" type="submit">Anmelden</button>
                        <a href="#forgotPassword" role="button" class="link" data-toggle="modal">@i18n("AdminController.forgotPassword")</a>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="claim">
            <div class="container">
                <p>
                    OXOMI ist die leistungsfähige Lösung für die Kommunikation von Produkt- und Marketinginformationen.<br />
                    Vernetzt Verbände, Handel und Industrie.
                </p>
            </div>
        </div>

    </div>
}


<script type="text/javascript">

    function submitForgotPassword() {
        var email = $('#email').val();

        $('#forgotPassword').modal('hide')
        $('#email').val('');

        if (email == null || email == '') {
            clearMessages();
            addError('@i18n("AdminController.emailRequired")');
            return;
        }

        $.getJSON(
                '@prefix/forgotPassword',
                { email: email },
                function(json) {
                    clearMessages();
                    if (json.error) {
                        addError(json.error);
                    } else {
                        addInfo('@i18n("AdminController.passwortReset")');
                    }
                }
        );

    }

</script>

<div id="forgotPassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>@i18n("AdminController.forgotPassword")</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            @i18n("AdminController.forgotPassword.help")
        </div>
        <fieldset>
            <label>@i18n("AdminController.email")</label>
            <input type="text" name="email" id="email" class="input-block-level" />
        </fieldset>
    </div>
    <div class="modal-footer">
        <a onclick="submitForgotPassword()" class="btn btn-danger">@i18n("AdminController.resetPassword")</a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">@i18n("NLS.cancel")</a>
    </div>
</div>