<!DOCTYPE html>
@*
 *  Made with all the love in the world
 *  by scireum in Remshalden, Germany
 *
 *  Copyright by scireum GmbH
 *  http://www.scireum.de - info@scireum.de
 *@
@args String title
<!--
  ~ Made with all the love in the world
  ~ by scireum in Remshalden, Germany
  ~
  ~ Copyright by scireum GmbH
  ~ http://www.scireum.de - info@@scireum.de
  -->

<html lang="@NLS.getCurrentLang()">
    <head>
        <title>@title - @product</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/fonts/opensans.css">
        <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/bootstrap/bootstrap.css">
        <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/bootstrap/bootstrap-responsive.css">
        <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/fileupload/fileuploader.css">
        <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/select2/select2.min.css">
        <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/datepicker/css/datepicker.css">
        <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/stylesheets/application.css">
        <!--[if lt IE 8]>
            <link rel="stylesheet" media="screen" href="@prefix/assets/wondergem/fonts/icn-font-ie7.css">
        <![endif]-->
        <link rel="shortcut icon" type="image/png" href="@prefix/assets/images/favicon.ico">
        <script src="@prefix/assets/wondergem/jquery/jquery-1.10.2.js" type="text/javascript"></script>
        <script src="@prefix/assets/wondergem/bootstrap/bootstrap.js" type="text/javascript"></script>
        <script src="@prefix/assets/wondergem/fileupload/fileuploader.js" type="text/javascript"></script>
        <script src="@prefix/assets/wondergem/mustache/mustache.min.js" type="text/javascript"></script>
        <script src="@prefix/assets/wondergem/select2/select2.js" type="text/javascript"></script>
        <script src="@prefix/assets/wondergem/datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
        <script src="@prefix/assets/wondergem/datepicker/js/locales/bootstrap-datepicker.@lang@.js" type="text/javascript"></script>

        @includeExtensions("view-template-head")

        @view.wondergem.template_script.html()

        @render(head) {
        }
    </head>
    <body>
        @view.wondergem.menu.html()
        <div class="wrap">

            @render(header) {
            }

            <div class="container" style="padding-top: 15px;">
                @render(aboveMessages) {
                }

                <ul class="breadcrumb-navi">
                    <li>
                        <a href="/"><i class="icon-home"></i></a>
                        <span class="divider">&@breadcrumbDivider;</span>
                    </li>
                    @render(breadcrumbs) {

                    }
                </ul>

                @render(messages) {


                    <div class="row">
                        <div class="span12" id="messageBox">
                            @for(sirius.web.controller.Message msg : user.getMessages()) {
                                <div class="alert @msg.getType()">
                                    @msg.getMessage()
                                    @if (msg.getAction() != null) {
                                        @if (msg.isActionJavascript()) {
                                            <a href="#" onclick="@msg.getAction()" class="link link-info">@msg.getActionLabel()</a>
                                        } else {
                                            <a href="@prefix/@msg.getAction()" class="link link-info">@msg.getActionLabel()</a>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }



                @render

                <div class="push"></div>
            </div>
        </div>
        @render(footer) {
            <div class="footer">
                <div class="container">
                    <div class="pull-left">
                        @view.wondergem.footer_menu.html()
                    </div>
                    <div class="pull-right" style="text-align: right">
                        <small title="@ctx.getWatch().elapsedMillis() ms (@detailedVersion)">@ctx.getNodeName()</small>
                    </div>
                </div>
            </div>
        }
        <div id="danger-link-confirm" class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>@i18n("template.html.deleteHeader")</h3>
            </div>
            <div class="modal-body">
                <p>@i18n("template.html.deleteText")</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary">@i18n("NLS.yes")</a>
                <a href="#" class="btn btn-close" data-dismiss="modal">@i18n("NLS.cancel")</a>
            </div>
        </div>
    </body>
</html>
