#parse('mail/mail-header.vm')

#nls('mail.hello') #if($strings.isFilled($name))$name#else$username#end,

#if ($strings.isFilled($!reason))
$reason

#end
#nls('mail-password.yourCredentails'):

* #nls('mail-password.username'): $username
* #nls('mail-password.password'): $password
#if ($strings.isFilled($!url))#nls('mail-password.loginHere'): $url$root#end

#parse('mail/mail-footer.vm')