#parse('mail/mail-header-html.vm')

<table>
    <tr>
        <td width="500px">
            <p>
                <b style="font-size:18px">#nls('mail.hello') #if($strings.isFilled($name))$name#else$username#end,</b><br>
            </p>
            #if ($strings.isFilled($!reason))
            <p>$reason</p>
            #end
            <p>#nls('mail-password.yourCredentails'):</p>

            <ul>
                <li><b>#nls('mail-password.username'):</b> $username</li>
                <li><b>#nls('mail-password.password'):</b> $password</li>
            </ul>

            #if ($strings.isFilled($!url))
            <p>#nls('mail-password.loginHere'): <a href="$url">$url</a></p>
            #end
        </td>
    </tr>
</table>

#parse('mail/mail-footer-html.vm')