.taggedSearch {
  .suggestion {
    display: inline-block;
    min-width: 10px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
    margin: 0px 4px;
  }

  input {
    border: none;
  }

  .form-control {
    padding: 4px 8px;
  }

  .taggedSearchPopup {
    border: 1px solid grey;
    background-color: white;

    div {
      padding: 3px;

      &.selected {
        background-color: #000055;
        color: white;
      }
    }
  }
}

.tracing {

  .well {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(94, 99, 103, 0.08);
    font-size: $fontSizeSmall;
  }

  .info-line {
    margin-left: -10px;
    margin-right: -10px;
  }

  .legend {
    box-sizing: initial;
    padding: 5px 10px;
  }

}

#select-directory-modal {

  .breadcrumb {
    background-color: white;
  }

  .select-directory-table {
    max-height: 400px;
    overflow-y: auto;
  }

}

#select-file-modal {

  .breadcrumb {
    background-color: white;
  }

  .select-file-table {
    max-height: 400px;
    overflow-y: auto;
  }

  .qq-upload-drop-area {
    padding: 10px 10px;
  }

}

.blob-ref-field {
  .popover {
    min-width: 300px;
  }

  .btn-block {
    margin-top: 5px;
  }

  .file {
    text-align: center;

    a {
      word-wrap: break-word;
    }
  }
}

input.form-control.mls-input {
  background-color: #ffffff;
}

.mls-modal {
  .modal-body {
    max-height: calc(100vh - 182px);
    overflow: auto;
  }

  .mls-add-language-button .dropdown-menu {
    max-height: 140px;
    overflow: auto;
  }

  .mls-modal-inputs .mls-language-label {
    display: flex;
    height: 34px;
    align-items: center;
  }

  .mls-language-flag {
    margin-right: 8px;
  }

  .mls-language-globe {
    height: 12px;
    width: 12px;
    object-fit: cover;
  }
}

.mls-tab-header {
  .nav-tabs {
    border-bottom: none;
  }

  .nav-tabs > li > a {
    color: #5e6468;
    margin-right: 0;
    margin-left: 2px;
  }

  .caret {
    margin-left: 8px;
  }

  .mls-add-language-button .dropdown-menu {
    max-height: 140x;
    overflow: auto;
  }

  .mls-toggle-language-button {
    // We supress a border/separation between tab and textarea input
    border-bottom: none;

    &.active {
      // We supress a border/separation between tab and textarea input
      margin-bottom: -2px;
    }

    a {
      color: #5e6468;
    }

    .dropdown-menu {
      max-height: 140px;
      overflow: auto;
    }
  }

  .mls-tab-list .mls-language-label {
    display: flex;
    height: 34px;
    align-items: center;
  }

  .mls-tab-list .dropdown-toggle {
    display: flex;
    height: 34px;
    align-items: center;
  }

  .mls-language-flag {
    margin-right: 8px;
  }

  .mls-language-globe {
    height: 12px;
    width: 12px;
    object-fit: cover;
  }
}
