.taggedSearch {
  .suggestion {
    display: inline-block;
    min-width: 10px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
    margin: 0px 4px;
  }

  input {
    border: none;
  }

  .form-control {
    padding: 4px 8px;
  }

  .taggedSearchPopup {
    border: 1px solid grey;
    background-color: white;

    div {
      padding: 3px;

      &.selected {
        background-color: #000055;
        color: white;
      }
    }
  }
}

.tracing {

  .well {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(94, 99, 103, 0.08);
    font-size: $fontSizeSmall;
  }

  .info-line {
    margin-left: -10px;
    margin-right: -10px;
  }

  .legend {
    box-sizing: initial;
    padding: 5px 10px;
  }

}

#select-file-modal {
  .pagination-controls > ul {
    margin: 0;
  }

  .breadcrumb {
    background-color: white;
  }

  .select-file-table {
    max-height: 400px;
    overflow-y: auto;
  }

  .qq-upload-drop-area {
    padding: 10px 10px;
  }

}

.blob-ref-field {
  .popover {
    min-width: 300px;
  }

  .btn-block {
    margin-top: 5px;
  }

  .file {
    text-align: center;

    a {
      word-wrap: break-word;
    }
  }
}

@import "/assets/stylesheets/multiLanguageField";
