/*!
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

.tracing-info .text-right {
  font-size: 0.9rem;
}

#select-file-modal .select-file-table {
  max-height: 400px;
  overflow-y: auto;
}
